---
import '../styles/global.css';

const siteName = 'Agentie Turism';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}</title>
	</head>
	<body class="flex min-h-screen items-center justify-center bg-slate-100">
		<h1 class="text-4xl font-bold text-slate-800">{siteName}</h1>
	</body>
</html>
